# Editor configurations
.vs/
.idea/

# Project files
node_modules/
dist/
*.d*

# User files
.env*
!.env*.template

# Other files
.vercel/
.next/
.open-next/
.wrangler/

# Miscellaneous files
.DS_Store
Desktop.ini
Thumbs.db
